.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status{
    height:5px;
    width:80%;
    background-color: #ccc;

}
.progress{
    background-color: red;
    width:0%;
    height:100%;
    transition: 0.5s;

}
.btns{
    display: flex;
    margin-top: 2rem;
}
.b3,
.b1{
    background-color: blue;
    color: white;
    border-radius: 10px;
    
}

button{
    height:50px;
    width:100px;
    margin-right:1rem
}
