.card{
    height:100px;
    width:100px;
    background-color: blue;

    border:1px solid black;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{

    display:grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    justify-content: center;
    align-items: center;
    gap:5px
}
h1{
    margin-left: 40%;
}
.btn{
    margin-left: 40%;
    margin-top: 3rem;
    height:50px;
    width: 100px;
    background-color: rgb(172, 26, 57);
    border-radius: 10px;
}
.card.flipped{
    background-color: green;
    transition: 0.3s;
}
.total{
    margin-left: 37%;
    margin-top: 3rem;
    font-size: 1.5rem;
}

