
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count{
    font-size: 3rem;
}
.reset,
.btns > button{
    width:100px;
    border-radius: 10px;
    background-color:blue;
    color: white;
    font-size: 2rem;
    padding-top:10px;
    padding-bottom:10px;
}
.msg{
    display: flex;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.msg > input{
    margin-left: 1rem;
    height:40px;
    font-size: 1.2rem;
}
